@import url('_scaffold.css');
@import url('screen.css') screen;
@import url('mobile.css') handheld;
@import url('mobile.css') only screen and (max-device-width: 480px);

@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: bold;
  src: local('UnifrakturCook'), url('unifrakturcook-bold.ttf') format('truetype');
}

.text-only {
  border: 1px solid #666;
  background-color: #333;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: UnifrakturCook, Palatino, Georgia, Garamond, serif;
  font-size: 20px;
  color: #aaa;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.actions {
  text-align: right;
}

table {
  width: 100%;
}

th {
  background-color: #333;
  padding: .5em .9em;
}

td {
  padding: .2em .4em;
  color: #fff;
}

td.money {
  font-family: monospace;
  text-align: right;
}

td.bold {
  font-weight: bold;
  border-bottom: double 4px #fff;
}

tr:nth-child(odd) {
  background-color: #0f0f0f;
}

thead td:nth-child(even) {
  background-color: #121212;
}

thead td:nth-child(odd) {
  background-color: #080808;
}

tbody tr:nth-child(even) td:nth-child(even) {
  background-color: #0a0a0a;
}

tbody tr:nth-child(odd) td:nth-child(even) {
  background-color: #1a1a1a;
}

tr:nth-child(even) {
  background-color: #060606;
}

tr:nth-child(even) th {
  background-color: #a3a3a3;
}

