<h2>Edit User</h2>

<div class="small-container">
  <%= render 'form' %>
</div>

<p class="bottom-nav">
  <%= link_to 'Show', @user, :class => 'bottom-link' %>
  <%= link_to 'Back', users_path, :class => 'bottom-link' %>
</p>
